#middle-container {
  padding-bottom: 25%;
  padding-top: 2%;

  text-align: center;
}

.table-funcionarios {
  margin: auto 40% auto 37%;
}

th {
  font-weight: bold;
  border: 1px ridge black;
}

td {
  border: 1px ridge black;
}