#top-container {
  background-color: #3e206d;
  padding: 1% 0;
}

body {
    margin: 0;
    color: #f0e3ff;
}

h1, h2, h3, h4, h5, h6, a, p, label, th, td {
    color: #f0e3ff;
    font-family: 'Segoe UI', sans-serif;
}

form {
    display: inline;
    position: relative;
    padding-right: 25%;
}

#nav {
    display: inline-flexbox;
}

#nome-loja {
    display: inline-flex;
    align-content: initial;
    margin-left: 10%;
    margin-right: 10%;
}

#inicio {
    margin-left: 0px;
}

.nav-a {
    font-size: 17px;
    text-decoration: none;
    display: inline-flex;
    margin: 0px 50px;
}

a {
    text-decoration: none;
    display: inline;
    position: relative;
}

form {
    margin-top: 15px;
    padding-right: 10%;
}

input[type=search] {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 8px 0px 8px 8px;
    border-radius: 4px;
    width: 450px;
}

#middle-container {
    background-color: #916dd5;
    display: block;
}