#middle-container {
  background-color: #916dd5;
  display: inline-block;
  padding-bottom: 6.05%;
}

h1 {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  font-size: 30px;
  padding: 5% 0% 0% 20%;
}

h3 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  font-size: 18px;
  padding: 0% 10% 5% 20.1%;
  display: block;
}

img {
  width: 200px;
  height: 200px;
  display: inline;
  margin-right: 2.5%;
}

.imagem-um {
  width: 300px;
  margin-left: 22.5%;
}

#bottom-container {
  background-color: #3e206d;
  text-align: left;
  margin: 0;
  padding: 2% 0% 2% 0%;
}

h4 {
  padding: 10% 10% 10% 10%;
  display: inline;

}

.contatos {
  padding: 20% 10% 10% 15%;
}

.contatos p {
  display: inline;
}