body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p, label {
    text-decoration: none;
    color: #FFF;
}

#top-container {
    background-color: #3282b8;
    padding: 20px 20px 50px;
}

#nav {
    display: inline-flex;
    font-size: 20px;
}
.link {
    display: inline-flex;
    margin-right: 30px;
}

#logo {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-content: initial;
  margin-left: 10%;
  margin-right: 262.5%;
}
