#top-container {
    background-color: #3282b8;
    padding: 20px 20px 100px;
}

#nav {
    display: inline-flex;
    font-size: 20px;
}
.link {
    display: inline-flex;
    margin-right: 30px;
}

#logo {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-content: initial;
  margin-left: 10%;
  margin-right: 262.5%;
}

.perfil {
    color: #bbe1fa;
    margin-top: 10%;
    text-align: center;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #bbe1fa;
}

h2 {
    font-family: 'Roboto';
    font-size: 40px;
    color: #bbe1fa;
}

#pro {
    text-decoration: underline;
}

#middle-container {
    margin: 0;
    padding: 2% 0 1% 0;
    background-color: #0f4c75;
}

.introducao {
    margin-top: 5%;
    text-align: center;
    padding-bottom: 2.5%;
}

#labenu {
    text-decoration: none;
}

#labenu:hover {
    text-decoration: underline;
    color: #7159c1;
}

.habilidades h2 {
    margin-top: 50px;
    text-align: center;
}

.lista-de-habilidades {
    width: 50%;
    margin: 150px auto 300px auto;
    text-align: left;
    border-radius: 2.5%;
}

.habilidade-direita {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.habilidade-esquerda {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.portfolio {
    text-align: center;
    width: 55%;
    height: 10%;
    margin-left: 20.0%;
}

.portfolio-image {
    width: 55%;
    height: 10%;
    display: inline;
}

.imagem-esquerda {
    margin-top: 80px;
    width: 420px;
    height: 400px;
    display: inline;
    margin-right: 14%;
}

.imagem-direita {
    width: 420px;
    height: 400px;
    display: inline;
}

.voltar {
    margin-top: 400px;;
    text-align: center;
    display: block;
}

#bottom-container {
    background-color: #3282b8;
    padding: 50px 0 10px;
    color: black;
    text-align: center;
}

.footer-link {
    margin: 0 20px;
}

.copyright {
  color: #FFF;
  font-size: 0.75em;
  padding: 20px 0;
}
